$darkred-color: #200505;
$red-color: #621212;
$flashred-color: #B21919;
$primary-font-color: black;
$secondary-font-color: white;

$background-modal-color: white;
$background-header-card-color: #F7F7F7;
$background-footer-icon-color: white;
$border-card-color: #dddddd; 
$header-card-left-button-color: #dddddd;
$skill-card-level-empty-color: #dddddd;
$skill-card-level-full-color: #FDCB58;
$header-card-left-button-color: #ED4C5C;
$header-card-middle-button-color: #FDCB58;
$header-card-right-button-color: #78B159;
$spacer-color: black;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 460px;