* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    background-color: #200505;
    padding: 80px;
    min-height: 550px;

    @media screen and (max-width: 1024px) {
        padding: 80px 0px 80px 0px;
    }
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.spacer {
    height: 1px;
    width: 35%;
    border-top: 1px solid black;

    &__footer {
        height: 1px;
        border-top: 1px solid black;
        width: 15%;
    }
}